In [153]:
import pandas as pd
import seaborn as sns

In [125]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

Dropping ID column

In [126]:
train.drop(columns=['ID'],axis=1,inplace=True)

In [127]:
train.head(2)

,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0

<h3>Creating Dummy Variables for City Code</h3>

In [128]:
train=pd.concat([train,pd.get_dummies(train['City_Code'],drop_first=True)],axis=1)
train=train.drop(['City_Code'],axis=1)
test=pd.concat([test,pd.get_dummies(test['City_Code'],drop_first=True)],axis=1)
test=test.drop(['City_Code'],axis=1)

In [129]:
train.head(1)

,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,...,C33,C34,C35,C36,C4,C5,C6,C7,C8,C9
0,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,...,0,0,0,0,0,0,0,0,0,0

In [130]:
test.head(1)

,ID,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,...,C33,C34,C35,C36,C4,C5,C6,C7,C8,C9
0,50883,156,Owned,Individual,30,30,No,NaN,6.0,3.0,...,0,0,0,0,0,0,0,0,0,0

In [131]:
train['Region_Code'].value_counts()

1       96
5       75
2       73
6       73
4       73
        ..
5548     1
5671     1
5639     1
5686     1
5524     1
Name: Region_Code, Length: 5316, dtype: int64

In [132]:
train['high_rc']=train['Region_Code'].value_counts()>80
test['high_rc']=test['Region_Code'].value_counts()>80
train['mid_rc']=(train['Region_Code'].value_counts()>50) & (train['Region_Code'].value_counts()<80)
test['mid_rc']=(test['Region_Code'].value_counts()>50) & (test['Region_Code'].value_counts()<80)
train['low_rc']=(train['Region_Code'].value_counts()<50)
test['low_rc']=(test['Region_Code'].value_counts()<50)

In [133]:
train.head(1)

,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,...,C36,C4,C5,C6,C7,C8,C9,high_rc,mid_rc,low_rc
0,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [134]:
train['high_rc'].fillna(False,inplace=True)
test['high_rc'].fillna(False,inplace=True)
train['mid_rc'].fillna(False,inplace=True)
test['mid_rc'].fillna(False,inplace=True)
train['low_rc'].fillna(False,inplace=True)
test['low_rc'].fillna(False,inplace=True)

In [135]:
train.head(1)

,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,...,C36,C4,C5,C6,C7,C8,C9,high_rc,mid_rc,low_rc
0,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,...,0,0,0,0,0,0,0,False,False,False

In [136]:
train['high_rc']=train['high_rc'].replace({False:0,True:1})
test['high_rc']=test['high_rc'].replace({False:0,True:1})
train['mid_rc']=train['mid_rc'].replace({False:0,True:1})
test['mid_rc']=test['mid_rc'].replace({False:0,True:1})
train['low_rc']=train['low_rc'].replace({False:0,True:1})
test['low_rc']=test['low_rc'].replace({False:0,True:1})

In [137]:
train.head(1)

,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,...,C36,C4,C5,C6,C7,C8,C9,high_rc,mid_rc,low_rc
0,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,...,0,0,0,0,0,0,0,0,0,0

In [138]:
train.drop('Region_Code',axis=1,inplace=True)
test.drop('Region_Code',axis=1,inplace=True)

In [139]:
train.head(3)

,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,...,C36,C4,C5,C6,C7,C8,C9,high_rc,mid_rc,low_rc
0,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,...,0,0,0,0,0,0,0,0,0,0
1,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,...,0,0,1,0,0,0,0,1,0,0
2,Owned,Individual,32,32,No,NaN,1.0,1.0,19,7450.0,...,0,0,1,0,0,0,0,0,1,0

In [140]:
train['Accomodation_Type']=train['Accomodation_Type'].replace({'Rented':0,'Owned':1})
test['Accomodation_Type']=test['Accomodation_Type'].replace({'Rented':0,'Owned':1})
train.head(1)

,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,...,C36,C4,C5,C6,C7,C8,C9,high_rc,mid_rc,low_rc
0,0,Individual,36,36,No,X1,14+,3.0,22,11628.0,...,0,0,0,0,0,0,0,0,0,0

In [141]:
train['Reco_Insurance_Type']=train['Reco_Insurance_Type'].replace({'Individual':0,'Joint':1})
test['Reco_Insurance_Type']=test['Reco_Insurance_Type'].replace({'Individual':0,'Joint':1})
train.head(1)

,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,...,C36,C4,C5,C6,C7,C8,C9,high_rc,mid_rc,low_rc
0,0,0,36,36,No,X1,14+,3.0,22,11628.0,...,0,0,0,0,0,0,0,0,0,0

In [142]:
train['age_diff']=((train['Upper_Age']-test['Lower_Age'])==0)
test['age_diff']=((test['Upper_Age']-test['Lower_Age'])==0)
train['age_diff']=train['age_diff'].replace({False:0,True:1})
test['age_diff']=test['age_diff'].replace({False:0,True:1})
train.drop(['Upper_Age'],axis=1,inplace=True)
test.drop(['Upper_Age'],axis=1,inplace=True)
train.head(1)

,Accomodation_Type,Reco_Insurance_Type,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response,...,C4,C5,C6,C7,C8,C9,high_rc,mid_rc,low_rc,age_diff
0,0,0,36,No,X1,14+,3.0,22,11628.0,0,...,0,0,0,0,0,0,0,0,0,0

In [143]:
train['Is_Spouse']=train['Is_Spouse'].replace({'No':0,'Yes':1})
test['Is_Spouse']=test['Is_Spouse'].replace({'No':0,'Yes':1})
train.head(1)

,Accomodation_Type,Reco_Insurance_Type,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response,...,C4,C5,C6,C7,C8,C9,high_rc,mid_rc,low_rc,age_diff
0,0,0,36,0,X1,14+,3.0,22,11628.0,0,...,0,0,0,0,0,0,0,0,0,0

In [146]:
train['Health Indicator'].isna().sum()

11691

In [147]:
train['Health Indicator'].fillna('X0',inplace=True)
test['Health Indicator'].fillna('X0',inplace=True)

In [149]:
train=pd.concat([train,pd.get_dummies(train['Health Indicator'],drop_first=True)],axis=1)
train=train.drop(['Health Indicator'],axis=1)
test=pd.concat([test,pd.get_dummies(test['Health Indicator'],drop_first=True)],axis=1)
test=test.drop(['Health Indicator'],axis=1)
train.head(1)

,Accomodation_Type,Reco_Insurance_Type,Lower_Age,Is_Spouse,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response,C10,...,age_diff,X1,X2,X3,X4,X5,X6,X7,X8,X9
0,0,0,36,0,14+,3.0,22,11628.0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [150]:
train['Holding_Policy_Duration'].isna().sum()

20251

In [152]:
train['Holding_Policy_Duration'].fillna('0',inplace=True)
test['Holding_Policy_Duration'].fillna('0',inplace=True)

In [162]:
train=pd.concat([train,pd.get_dummies(train['Holding_Policy_Duration'],drop_first=True)],axis=1)
train=train.drop(['Holding_Policy_Duration'],axis=1)
test=pd.concat([test,pd.get_dummies(test['Holding_Policy_Duration'],drop_first=True)],axis=1)
test=test.drop(['Holding_Policy_Duration'],axis=1)
train.head(1)

,Accomodation_Type,Reco_Insurance_Type,Lower_Age,Is_Spouse,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response,C10,C11,...,14+,14.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0
0,0,0,36,0,3.0,22,11628.0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [163]:
train['Holding_Policy_Type'].isna().sum()

20251

In [164]:
train['Holding_Policy_Type'].fillna('0.0',inplace=True)
test['Holding_Policy_Type'].fillna('0.0',inplace=True)

In [166]:
train=pd.concat([train,pd.get_dummies(train['Holding_Policy_Type'],drop_first=True)],axis=1)
train=train.drop(['Holding_Policy_Type'],axis=1)
test=pd.concat([test,pd.get_dummies(test['Holding_Policy_Type'],drop_first=True)],axis=1)
test=test.drop(['Holding_Policy_Type'],axis=1)
train.head(1)

,Accomodation_Type,Reco_Insurance_Type,Lower_Age,Is_Spouse,Reco_Policy_Cat,Reco_Policy_Premium,Response,C10,C11,C12,...,4.0,5.0,6.0,7.0,8.0,9.0,2.0,3.0,4.0,0.0
0,0,0,36,0,22,11628.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [168]:
train=pd.concat([train,pd.get_dummies(train['Reco_Policy_Cat'],drop_first=True)],axis=1)
train=train.drop(['Reco_Policy_Cat'],axis=1)
test=pd.concat([test,pd.get_dummies(test['Reco_Policy_Cat'],drop_first=True)],axis=1)
test=test.drop(['Reco_Policy_Cat'],axis=1)
train.head(1)

,Accomodation_Type,Reco_Insurance_Type,Lower_Age,Is_Spouse,Reco_Policy_Premium,Response,C10,C11,C12,C13,...,13,14,15,16,17,18,19,20,21,22
0,0,0,36,0,11628.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1